@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom styles */
* {
  margin: 0;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    gap: 1rem;
}
/* spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;       
  border-top: 4px solid #3498db;  
  border-radius: 50%;             
  animation: spin 0.8s linear infinite; 
  margin: 20px auto;               
}
.search-box {
  max-width: 300px;
  width: 100%;
  margin: 1rem auto;
  padding: 5px 10px;
  border-radius: 5px;
}
.flex {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 1rem; */
  /* margin-bottom: 1rem; */
}
.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: start;
}

.product-image img {
  width: 100%;
  max-width: 450px;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rating-wrappper {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity-selector button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.quantity-selector span {
  min-width: 20px;
  text-align: center;
  /* font-weight: bold; */
}
.product-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.product-actions button {
    width: 280px;
    background: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.product-actions button:hover {
  background: transparent;
  color: black;
}